* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: white;
}

::selection {
  background-color: #0ba34e;
  color: #fff;
}

::-webkit-scrollbar {
  width: 0;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  overflow-x: hidden;
}
main {
  width: 100vw;
  background-color: #111;
  object-fit: cover;
  transform-origin: center;
  transform-style: preserve-3d;
}

.page1 {
  height: 100vh;
  width: 100%;
  background-color: #111;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.page1 h1 {
  text-transform: uppercase;
  font-size: 7vw;
  font-weight: 850;
  line-height: 7vw;
  letter-spacing: 2px;
}

.page1 h1 span svg {
  height: 5.5vw;
  width: 5.5vw;
  border-radius: 50%;
  background-color: #0ba34e;
}

.page1 p {
  text-align: center;
  font-weight: 400;
  margin-top: 4.8vh;
}

.page1-something {
  display: flex;
  align-items: center;
  justify-content: center;
}

.page1-something h4 {
  font-weight: 400;
  font-size: 1vw;
  text-transform: lowercase;
  padding: 5px 10px;
  border: 1px solid #919191;
  border-radius: 50px;
  margin-top: 5px;
}

.page1-something h4:nth-last-child(2) {
  border: none;
}

nav {
  position: fixed;
  /* background-color: rgb(0, 255, 68); */
  display: flex;
  align-items: flex-start;
  height: 12vh;
  width: 100vw;
  padding: 2vw 10.4vw;
  justify-content: space-between;
  background-color: #111;
  z-index: 10;
}

nav h1 {
  font-size: 1.6vw;
}

.nav-part2 {
  display: flex;
  gap: 2vw;
  align-items: flex-start;
  padding: 1vh 0;
  position: relative;
  z-index: 10;
}

.nav-part2 h4 {
  font-size: 0.73vw;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 2.6vw;
}

.nav-part2 h5 {
  margin-bottom: 1vw;
  /* background-color: red; */
  display: none;
  overflow: hidden;
}

.nav-part2 h5 span {
  font-size: 0.77vw;
  font-weight: 400;
  transform: translateY(25px);
  display: inline-block;
}

nav button {
  background-color: #0ba34e;
  display: flex;
  align-items: center;
  padding: 14px 20px;
  font-size: 0.85vw;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 50px;
  border: none;
}

nav button svg {
  height: 0.8vw;
  margin-left: 1.6vw;
}

#nav-bottom {
  width: 79%;
  height: 0vh;
  position: absolute;
  /* background-color: red; */
  top: 100%;
  background-color: #111;
  z-index: 9;
  border-bottom: 1px solid #fff;
}

.move {
  position: relative;
  top: 10%;
  /* background-color: red; */
  width: 100%;
  overflow: hidden;
  display: flex;
  align-self: center;
  justify-content: center;
  gap: 3vw;
}

.marque {
  display: flex;
  gap: 3vw;
  flex-shrink: 0;
  /* transform: translateX(-100%); */
}
.marque h2 {
  white-space: nowrap;
  font-size: 1.5vw;
  font-weight: 400;
}

.marque img {
  height: 2.5vw;
  filter: invert(100%);
}

.page2 {
  height: 100vh;
  width: 100%;
  position: relative;
  padding: 0vw 10.4vw;
  padding-bottom: 5vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #333;
}

.page2-left {
  height: 100%;
  position: relative;
  width: 40%;
  padding: 3vw 0;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
}

.page2-left p {
  font-size: 1vw;
}

.page2-left h5 {
  width: 80%;
  font-weight: 400;
  font-size: 1.2vw;
}

.page2-right {
  height: 100%;
  width: 53%;
  position: relative;
  overflow-y: hidden;
}

.right-elem {
  position: relative;
  /* background-color: red; */
  padding-top: 2vw;
  padding-bottom: 5vw;
  border-bottom: 1px solid #333;
}

.right-elem h2 {
  font-size: 1.4vw;
  font-weight: 400;
}

.right-elem img {
  height: 7vw;
  width: 7vw;
  border-radius: 50%;
  object-fit: cover;
  opacity: 0;
  border: 1px solid #0ba34e;
  position: absolute;
  scale: 0;
  pointer-events: none;
}

.page3 {
  height: 50vw;
  width: 100%;
  overflow: hidden;
  position: relative;
  background-color: #111;
}

.video-container {
  height: 95%;
  width: 90vw;
  position: relative;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 2vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.video-container video {
  pointer-events: none;
}

.play-btn {
  height: 12vw;
  width: 12vw;
  border-radius: 50%;
  background-color: #0ba34d86;
  backdrop-filter: blur(30px);
  z-index: 3;
  position: absolute;
  top: 50%;
  left: 50%;
  scale: 0;
  transform: translate(-50%, -50%);
}

.play-btn h4 {
  position: relative;
  top: 65%;
  left: 12%;
  line-height: 14px;
  font-weight: 700;
}

.play-btn svg {
  position: absolute;
  width: 2.53vw;
  height: 2.53vw;
  top: 12%;
  left: 65%;
  line-height: 14px;
}

.video {
  width: 100%;
  /* height: 100vh; */
  position: fixed;
  z-index: 99;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scaleX(0.6) scaleY(0);
  border-radius: 30px;
  object-fit: cover;
}

.page4 {
  min-height: 100vh;
  width: 100%;
  position: relative;
  /* background-color: #222; */
  padding: 4vw 6.5vw;
  margin-top: 4vw;
  border-top: 1px solid #333;
}

.page4 h2 {
  font-size: 2.3vw;
  font-weight: 350;
  line-height: 110%;
}

.grid {
  height: 95vh;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  place-items: center;
  padding-top: 2.8vw;
}

.grid-elem {
  width: 98%;
  height: 95%;
  /* background-color: rebeccapurple; */
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 0.3vw;
}

.grid-elem p {
  font-size: 1vw;
  width: 90%;
  font-weight: 300;
}

.grid-elem svg {
  height: 35%;
  width: 35%;
}

.page4 button {
  background-color: #0ba34e;
  width: 95%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  height: 3.5vw;
  border-radius: 100vw;
  border: none;
  color: #fff;
  font-size: 1.1vw;
  font-weight: 700;
  text-transform: uppercase;
}

.page4 button i {
  font-size: 1.3vw;
  margin-left: 0.5vw;
  font-weight: 300;
}

.page5 {
  min-height: 100vh;
  width: 100%;
  padding: 6vw 4vw;
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-top: 3vw;
  border-top: 1px solid #333;
}

.page5-left {
  position: relative;
  height: 100%;
  top: 0%;
  height: 100%;
  width: 25%;
  position: sticky;
  top: 20%;
}

.page5-left button {
  width: 90%;
  font-size: 1vw;
  padding: 1.4vw 3vw;
  background-color: #0ba34e;
  color: #fff;
  border: none;
  border-radius: 100vw;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  font-weight: 700;
  text-transform: uppercase;
}

.page5-left button i {
  margin-left: 5%;
}

.page5-right {
  position: relative;
  height: 100%;
  width: 70%;
}

.page5-para {
  padding-bottom: 5.5vw;
  border-bottom: 2px solid #fff;
}

.page5-para span {
  font-size: 1vw;
  margin-right: 25%;
}

.page5-para p {
  font-size: 2.5vw;
  line-height: 2.7vw;
  font-weight: 450;
}

.page-right-sec h1 {
  font-size: 3.5vw;
  word-spacing: -5px;
  font-weight: 700;
}

.page-right-sec2 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-top: 3.5vw;
  padding-bottom: 2.5vw;
}

.page-right-sec2 h2 span {
  font-size: 1vw;
  padding: 0.7vw 1vw;
  border: 1px solid white;
  border-radius: 10vh;
  text-transform: uppercase;
}

.page5-right .container {
  height: 100vh;
  margin-top: 5vw;
  position: relative;
}

.page5-right .container .box {
  height: 25%;
  width: 100%;
  overflow-y: hidden;
  border-top: 1px solid #919191;
  display: flex;
  justify-content: space-between;
  padding-top: 1vw;
  position: relative;
}

.page5-right .container .box h1 {
  font-size: 2vw;
  font-weight: 400;
  width: 20%;
}

.page5-right .container .box p {
  width: 55%;
  text-align: left;
  font-size: 1vw;
}

.page5-right .container .box i {
  text-align: left;
  font-size: 1vw;
}

.layer {
  background-color: #33333373;
  height: 0%;
  width: 100%;
  position: absolute;
  z-index: -1;
  top: 0;
}

.string {
  height: 400px;
  width: 100%;
  position: relative;
}

.string h1 {
  position: absolute;
  font-size: 5vw;
  top: 25%;
  right: 30%;
  font-weight: 500;
  mix-blend-mode: difference;
}

.string svg {
  mix-blend-mode: difference;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9;
}

.string button {
  font-size: 1.1vw;
  color: black;
  padding: 1.5vw 5vw;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 100vh;
  position: absolute;
  top: 65%;
  left: 72%;
}

.string button i {
  color: black;
  font-size: 1.2vw;
}

.page6 {
  min-height: 100vh;
  width: 100%;
  background-color: #fff;
  padding: 6vw 4vw;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.page6-left {
  width: 25%;
}

.page6-left button {
  position: sticky;
  top: 20%;
  margin-top: 80%;
  font-size: 1vw;
  font-weight: 700;
  color: #fff;
  background-color: #4f5bff;
  padding: 1.5vw 3.2vw;
  text-transform: uppercase;
  border: none;
  border-radius: 100vh;
  white-space: nowrap;
}

.page6-left button i {
  margin-left: 5%;
}

.page6-right * {
  color: #000;
}

.page6-right {
  width: 73%;
}

.page6-right h1 {
  font-size: 6.5vw;
  line-height: 90%;
  font-weight: 700;
  letter-spacing: -1px;
}

.page6-right p {
  margin-top: 7vw;
  font-size: 1.7vw;
  width: 70%;
}

.page7 {
  width: 100%;
  height: 100vh;
}

.table {
  height: 50vh;
  display: flex;
  align-items: center;
  margin-top: 7vw;
  position: relative;
}

.row {
  height: 100%;
  width: 30%;
  border: 1px solid #33333325;
  position: relative;
}

.row h1 {
  font-size: 1vw;
  height: 15%;
  font-weight: 400;
  position: relative;
  top: 3%;
  left: 3%;
}

.row-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 0.15vw;
  margin-top: 2vw;
}

.row-box {
  display: flex;
  align-items: center;
  gap: 0.7vw;
  background-color: #111;
  padding: 0.5vw 1vw;
  padding-left: 0.45vw;
  border-radius: 50vh;
  width: 95%;
}

.row-box > * {
  color: #fff;
  font-size: 1vw;
}

.row-box h5 {
  font-weight: 400;
}

.row-box .number {
  height: 1.8vw;
  width: 1.8vw;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #333;
}

.row1 {
  width: 50%;
}

.row1 .row-content .row-box {
  width: 55%;
}
.row3 .row-content .row-box:nth-child(3),
.row3 .row-content .row-box:nth-child(4),
.row3 .row-content .row-box:nth-child(5) {
  margin-left: 20%;
}

.row2 {
  width: 25%;
}
.row2 .row-content .row-box {
  width: 90%;
}
.row3 {
  width: 25%;
}

.row3 .row-content .row-box {
  width: 90%;
}

.row4 {
  width: 12%;
}

.page7 {
  min-height: 100vh;
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 10vw 5vw;
}

.page7-left {
  width: 40%;
  position: sticky;
  top: 20%;
}

.page7-left h1 {
  line-height: 104%;
  margin-top: 5vw;
  font-size: 3.2vw;
  font-weight: 700;
}

.page7-left p {
  font-size: 1vw;
  margin-top: 7vw;
  font-weight: 500;
  width: 80%;
}

.page7-right {
  width: 50%;
  display: flex;
  align-self: center;
  justify-content: center;
  flex-direction: column;
  gap: 5vw;
  margin-top: 10vw;
}

.client-1 {
  border-top: 1px solid #333;
}

.client-1 h5 {
  margin-top: 5%;
  font-size: 1.2vw;
}

.client-1 p {
  font-size: 1.6vw;
  line-height: 2vw;
  margin-top: 5%;
}

.client-1 h2 {
  margin-top: 7%;
  font-weight: 500;
}

.client-1 h3 {
  font-weight: 400;
  font-size: 1.2vw;
  margin-left: 2%;
}

.under-development {
  position: absolute;
  top: 91%;
  left: 80%;
  font-weight: 400;
  border: 1px solid #0ba34e;
  box-shadow: inset 0 0 5px #0ba34e;
  color: #0ddd67;
  border-radius: 100vh;
  padding: 0.5vw;
  font-size: 1.2vw;
}

.scroll-watcher {
  position: fixed;
  top: 50%;
  left: 98%;
  transform: translate(0, -50%);
  width: 0.5vw;
  height: 20vh;
  background-color: #333333;
  z-index: 99;
  border-radius: 50vh;
  overflow: hidden;
  scale: 0.8;
}

.progesser {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: #0ddd67;
  border-radius: 50vh;
}

.page8 {
  background-image: url(abstract-green-wallpapers-green-black-abstract-background-with-glowing_1025556-49785.avif);
  background-size: cover;
  height: 70vh;
  margin-top: 10vw;
  position: relative;
  overflow: hidden;
}

.page8 h1 {
  position: absolute;
  font-size: 7.5vw;
  width: 70%;
  text-transform: uppercase;
  top: 10%;
  left: 5%;
}

.page8 i {
  font-size: 18vw;
  top: 5%;
  left: 80%;
  position: absolute;
}

.page8-cursor {
  height: 0vw;
  width: 0vw;
  background-color: #0ba34e;
  position: absolute;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}

.page8-cursor i {
  font-size: 2vw;
  position: relative;
  top: 10%;
  left: 70%;
}

.page8-cursor h5 {
  font-size: 0.9vw;
  position: relative;
  top: 40%;
  left: 10%;
}
